<main
    *ngIf="!isLoading; else loading"
    [tdlLogState]="{
        showCompleted: showCompleted,
        filteredItems: filteredItems,
        completedCount: completedCount,
        uncompletedCount: uncompletedCount,
        filter: filter,
        categories: categories
    }"
    tdlLogStateName="imperative"
>
    <tdl-todo-creation
        [categories]="categories"
        (create)="createItem($event)"
    />

    <tdl-filters
        [showCompleted]="showCompleted"
        [filter]="filter"
        (updateShowCompleted)="updateShowCompleted($event)"
        (updateFilter)="updateFilter($event)"
    />

    <div class="actions">
        <button
            tdl-button
            color="secondary"
            (click)="completeAll()"
        >
            Complete All
        </button>
        <button
            tdl-button
            color="secondary"
            (click)="unCompleteAll()"
        >
            Uncomplete All
        </button>
    </div>

    <div class="status">
        <span>total</span>
        <span>Completed: {{ completedCount }}</span>
        <span>Uncompleted: {{ uncompletedCount }}</span>
    </div>

    <tdl-todo-card-grid
        [items]="filteredItems"
        (updateCompleted)="updateCompleted($event)"
    />
</main>

<ng-template #loading>
    <tdl-loading></tdl-loading>
</ng-template>
