@if (!isLoading) {
  <tdl-todo-list
    [showCompleted]="showCompleted"
    [filter]="filter"
    [filteredItems]="filteredItems"
    [completedCount]="completedCount"
    [uncompletedCount]="uncompletedCount"
    [categories]="categories"
    [isUpdating]="isUpdating"
    [isDialogCreateItemOpen]="isDialogCreateItemOpen"
    (updateShowCompleted)="updateShowCompleted($event)"
    (updateFilter)="updateFilter($event)"
    (openDialogCreateItem)="openDialogCreateItem()"
    (completeAll)="completeAll()"
    (uncompleteAll)="uncompleteAll()"
    (updadteItem)="updateCompleted($event)"
    (deleteItem)="deleteItem($event)"
    (createItem)="createItem($event)"
    (dialogCreateItemClosed)="dialogCreateItemClosed()"
    />
} @else {
  <tdl-loading />
}

