<ng-container *rxLet="vm$; let vm">
    <ng-container *ngIf="!vm.isLoading; else loading">
        <tdl-todo-list
            [showCompleted]="vm.showCompleted"
            [filter]="vm.filter"
            [filteredItems]="vm.filteredTodos"
            [completedCount]="vm.completedCount"
            [uncompletedCount]="vm.uncompletedCount"
            [categories]="vm.categories"
            [isUpdating]="vm.isUpdating"
            [isDialogCreateItemOpen]="vm.isDialogCreateItemOpen"
            (updateShowCompleted)="updateShowCompleted$.next($event)"
            (updateFilter)="updateFilter$.next($event)"
            (openDialogCreateItem)="dialogCreateItemOpened$.next()"
            (completeAll)="completeAll$.next()"
            (uncompleteAll)="uncompleteAll$.next()"
            (updadteItem)="updateItem$.next($event)"
            (createItem)="createItem$.next($event)"
            (dialogCreateItemClosed)="dialogCreateItemClosed$.next()"
        />
    </ng-container>

    <ng-template #loading>
        <tdl-loading></tdl-loading>
    </ng-template>
</ng-container>
