<tdl-todo-list
    *ngIf="!isLoading(); else loading"
    [showCompleted]="showCompleted()"
    [filter]="filter()"
    [filteredItems]="filteredTodos()"
    [completedCount]="completedCount()"
    [uncompletedCount]="uncompletedCount()"
    [categories]="categories()"
    [isUpdating]="isUpdating()"
    [isDialogCreateItemOpen]="isDialogCreateItemOpen()"
    (updateShowCompleted)="updateShowCompleted($event)"
    (updateFilter)="updateFilter($event)"
    (openDialogCreateItem)="dialogCreateItemOpened()"
    (completeAll)="completeAll()"
    (uncompleteAll)="uncompleteAll()"
    (updadteItem)="updateCompleted($event)"
    (createItem)="createItem($event)"
    (dialogCreateItemClosed)="dialogCreateItemClosed()"
/>

<ng-template #loading>
    <tdl-loading></tdl-loading>
</ng-template>
