@use './themes/dark' as dark-theme;
@use './themes/light' as light-theme;

/* You can add global styles to this file, and also import other style files */
:root {
    color-scheme: light dark;

    // used in themes
    --primary-hue: 210;
    --secondary-hue: 208;
    --primary-saturation: 100%;
    --lightness: 40%;

    @include light-theme.lightTheme();
}

.light {
    @include light-theme.lightTheme();
}

.dark {
    @include dark-theme.darkTheme();
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        @include dark-theme.darkTheme();
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    color: var(--on-background);
}
