<header>
    <h1>{{ title }}</h1>
    <nav>
        <a routerLink="/imperative" routerLinkActive="active-route"
            >Imperative</a
        >
        <a routerLink="/rxjs" routerLinkActive="active-route">Rxjs</a>
        <a routerLink="/ngrx" routerLinkActive="active-route">Ngrx</a>
        <a routerLink="/ngrx-component-store" routerLinkActive="active-route">
            Ngrx Component Store
        </a>
        <a routerLink="/state-adapt" routerLinkActive="active-route">
            State Adapt
        </a>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
