header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--tdl-primary);
    color: var(--tdl-on-primary);
    align-items: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

a {
    color: var(--tdl-on-primary);
    padding: 0.5rem;
}

.active-route {
    font-weight: bold;
    border: 1px solid var(--tdl-on-primary);
}
