<tdl-todo-list
    *ngIf="!isLoading(); else loading"
    [showCompleted]="showCompleted()"
    [filter]="filter()"
    [filteredItems]="filteredItems()"
    [completedCount]="completedCount()"
    [uncompletedCount]="uncompletedCount()"
    [categories]="categories()"
    [isUpdating]="isUpdating()"
    [isDialogCreateItemOpen]="isDialogCreateItemOpen()"
    (updateShowCompleted)="showCompleted.set($event)"
    (updateFilter)="filter.set($event)"
    (openDialogCreateItem)="isDialogCreateItemOpen.set(true)"
    (completeAll)="updateAllCompletion(true)"
    (uncompleteAll)="updateAllCompletion(false)"
    (updadteItem)="updateItem($event)"
    (deleteItem)="deleteItem($event)"
    (createItem)="createItem($event)"
    (dialogCreateItemClosed)="isDialogCreateItemOpen.set(false)"
/>

<ng-template #loading>
    <tdl-loading />
</ng-template>
