<main
    *ngIf="!isLoading(); else loading"
    [tdlLogState]="{
        items: items(),
        showCompleted: showCompleted(),
        filter: filter(),
        categories: categories(),
        areItemsLoading: areItemsLoading(),
        isUpdating: isUpdating(),
        isDialogCreateItemOpen: isDialogCreateItemOpen(),
        filteredItems: filteredItems(),
        completedCount: completedCount(),
        uncompletedCount: uncompletedCount(),
        isLoading: isLoading()
    }"
    tdlLogStateName="signal"
>
    <tdl-todo-list
        [showCompleted]="showCompleted()"
        [filter]="filter()"
        [filteredItems]="filteredItems()"
        [completedCount]="completedCount()"
        [uncompletedCount]="uncompletedCount()"
        [categories]="categories()"
        [isUpdating]="isUpdating()"
        [isDialogCreateItemOpen]="isDialogCreateItemOpen()"
        (updateShowCompleted)="showCompleted.set($event)"
        (updateFilter)="filter.set($event)"
        (openDialogCreateItem)="isDialogCreateItemOpen.set(true)"
        (completeAll)="events.completeAll$.next()"
        (uncompleteAll)="events.uncompleteAll$.next()"
        (updadteItem)="events.updateCompleted$.next($event)"
        (deleteItem)="events.deleteItem$.next($event)"
        (createItem)="events.createItem$.next($event)"
        (dialogCreateItemClosed)="isDialogCreateItemOpen.set(false)"
    />
</main>

<ng-template #loading>
    <tdl-loading />
</ng-template>
