<main
    *ngrxLet="vm$; let vm"
    [tdlLogState]="vm"
    tdlLogStateName="ngrx"
>
    <ng-container *ngIf="!vm.isLoading; else loading">
        <tdl-todo-list
            [showCompleted]="vm.showCompleted"
            [filter]="vm.filter"
            [filteredItems]="vm.filteredTodos"
            [completedCount]="vm.completedCount"
            [uncompletedCount]="vm.uncompletedCount"
            [categories]="vm.categories"
            [isUpdating]="vm.isUpdating"
            [isDialogCreateItemOpen]="vm.isDialogCreateItemOpen"
            (updateShowCompleted)="updateShowCompleted($event)"
            (updateFilter)="updateFilter($event)"
            (openDialogCreateItem)="openDialogCreateItem()"
            (completeAll)="completeAll()"
            (uncompleteAll)="uncompleteAll()"
            (updadteItem)="updateItem($event)"
            (createItem)="createItem($event)"
            (dialogCreateItemClosed)="dialogCreateItemClosed()"
        />
    </ng-container>

    <ng-template #loading>
        <tdl-loading></tdl-loading>
    </ng-template>
</main>
