@mixin lightTheme() {
    color-scheme: light;

    --primary: hwb(var(--primary-hue) 0% 40%);
    --on-primary: hwb(var(--primary-hue) 95% 0%);

    --ripple-color: hwb(0 100% 0%);
    --border: hwb(0 10% 90%);

    --secondary: hwb(var(--secondary-hue) 0% 40%);
    --on-secondary: hwb(var(--secondary-hue) 95% 0%);

    --background: hwb(0 98% 2%);
    --on-background: hwb(0 0% 100%);

    --surface: hwb(39 91% 1%);
    --on-surface: hwb(0 0% 100%);

    --completed: hwb(130 0% 40%);
    --on-completed: hwb(130 100% 0%);

    --tag: hwb(250 25% 25%);
    --on-tag: hwb(0 100% 0%);


}
