<main
    *ngIf="vm$ | async as vm"
    [tdlLogState]="vm"
    tdlLogStateName="rxj"
>
    <ng-container *ngIf="!vm.isLoading; else loading">
        <tdl-todo-creation
            [categories]="vm.categories"
            (create)="createTodoItem$.next($event)"
        />

        <tdl-filters
            [showCompleted]="vm.showCompleted"
            [filter]="vm.filter"
            (updateShowCompleted)="showCompleted$.next($event)"
            (updateFilter)="filter$.next($event)"
        />

        <div class="actions">
            <button
                tdl-button
                color="secondary"
                (click)="completeAll$.next()"
            >
                Complete All
            </button>
            <button
                tdl-button
                color="secondary"
                (click)="uncompleteAll$.next()"
            >
                Uncomplete All
            </button>
        </div>

        <div class="status">
            <span>Completed: {{ vm.completedCount }}</span>
            <span>Uncompleted: {{ vm.uncompletedCount }}</span>
        </div>

        <tdl-todo-card-grid
            [items]="vm.filteredItems"
            (updateCompleted)="updateItemCompletion$.next($event)"
        />
    </ng-container>

    <ng-template #loading>
        <tdl-loading></tdl-loading>
    </ng-template>
</main>
